#formOverlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  
}


.overlay-bg {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}


.overlay-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.myCard{
    width: 50%;
    max-height: 90vh;     
    overflow-y: auto;     

}
.myCard {
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;      
    -ms-overflow-style: none;  
}


.myCard::-webkit-scrollbar {
    display: none;
}
.avatar {
  width: 44px;
  height: 44px;
  font-size: 16px;
}

.call-icon {
  width: 40px;
  height: 40px;
}
.profile-container {
  text-align: center;
  margin-top: 50px;
}

.avatar-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #4285f4; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  color: white;
  font-size: 50px;
}

#changePhotoBtn {
  padding: 5px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #f1f3f4;
}

#imgInput {
  display: none;
}


.file-upload-btn {
    align-items: center;
  padding: 8px 16px;
  background-color: #f3f4f6;
  color: #364153;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.file-upload-btn:hover {
  background-color: #e5e7eb;
}

